.wrapper {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100vh; */
  background-color: #f2f2f2;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

.wrapper .left, .wrapper .right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .right[data-showed=false] {
  width: 0%!important;
  opacity: 0!important;
}

.left {
  transition: all 0.5s ease-in-out;
  
}

.left_box {
  width: 60%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left_box_title {
  color: #000;
  margin-bottom: 1rem;
  align-self: flex-start;
  text-align: left;
}

.left_box_title_main {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.left_box_title_desc {
  font-size: 1.1rem;
  color: rgb(61, 61, 61);
}

.left_box_form {
  height: 400px;
  width: 100%;
  box-sizing: border-box;

}

.left_box_form_input {
  width: 100%;
  height: 60px;
  border: 1px solid #BEBEBE;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size:20px;
  caret-color:#474747;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.left_box_form_input:not(:first-child){
  margin-top:1rem;
}

.left_box_form_input::placeholder{
  font-size: 20px;
  text-transform: uppercase;
  color: #cecece;
  /* font-weight: 300; */
  font-family: 'Noto Sans', sans-serif;

}

.left_box_form_input:focus{
  outline: 2px solid #d3d3d3;
  /* border: none; */
}

.left_box_form_btn {
  margin-top: 15px;
  width: 100%;
  height:60px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #BEBEBE;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background-color: #3195F1;
  font-weight: bold;
  transition: background-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.left_box_form_btn:hover {
  background-color: #2c79c2;
  cursor: pointer;
  /* color: white; */
}

.left_box_footer {
  font-family: 'Noto Sans', sans-serif;

}


.right {
  /* background-color: #474747; */
  transition: all 0.5s ease-in-out;
  position: relative;
  /* z-index: 1; */
  /* box-shadow: inset 0px 0px 10px 100px rgba(0, 0, 0, 0.5); */

}

.right_odd, .right_even {
  /* background-image: attr(data-src); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  /* box-shadow: inset 0px 0px 10px 100px rgba(0, 0, 0, 0.5); */
}

.right_odd:hover, .right_even:hover {
  filter: brightness(0.8);
  /* box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.5); */
  /* mix-blend-mode:saturation; */
  /* background-color: #000; */
}

.right_odd[data-show], .right_even[data-show] {
  opacity: 1;
  /* transition: opacity 0.5s ease-in-out; */
  z-index: 2;
}

.right_odd[data-show=false],.right_even[data-show=false] {
  opacity: 0;
  /* transition: opacity 0.5s ease-in-out; */
  z-index: 1;
}

@media screen and (max-width: 1100px) {
  .right {
    width: 0%!important;
    opacity: 0!important;
  }
}