.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 56px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.left,
.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left > * {
    font-size: 1.5rem;
    font-weight: bold;
}

.right > * {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.left > * {
    margin-right: 30px;
}

.right > * {
    margin-left: 30px;
}
.left {
    /* background-color: blue; */
    /* color: white; */
}

.right {
    /* background-color: green; */
    /* color: white; */
}

.right .user img {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.main {
    flex: 1;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 400px;
    background-color: white;
    z-index: 1000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 20px 30px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.sidebar[data-on="false"] {
    transform: translate(-400px);
}

.sidebar_title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.sidebar_title_main {
    font-size: 24px;
    font-weight: bold;
}

.sidebar_flexbox {
    width: 100%;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    padding: 4px 4px;
    /* box-sizing: border-box; */
}

.pager {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px 40px;
    padding-bottom: 0px;
    box-sizing: border-box;

    .pager_btn {
        margin-right: 6px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3a3a3a;
        cursor: pointer;
        &:hover {
            background-color: #e0e0e0;
        }

        .pager_input {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            // border: 1px solid #e0e0e0;
            border: 0;
            text-align: center;
            font-size: 1.4rem;
            font-weight: bold;
            color: #3a3a3a;
            cursor: pointer;
            // background-color: white;
            // transition: all 0.5s ease-in-out;

            &[type="number"]::-webkit-outer-spin-button,
            &[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &:hover {
                background-color: #e0e0e0;
            }

            &:focus {
                outline: 2px solid #c5c5c5;
            }
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.page_count {
    font-size: 0.8rem;
    font-weight: 400;
    color: #8f8f8f;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
}

.shadow[data-on="false"] {
    z-index: -1;
    opacity: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    height: calc(100% - 56px - 40px);
    grid-auto-rows: 100%; // here 100% is calced based on height
    // height: 100%;

    .main_board_wrapper {
        grid-column: 1/4;
        // background-color: blue;
        padding-left: 30px;
        box-sizing: border-box;
        // padding-right: 0px;
        position: relative;
        box-sizing: border-box;
        height: 100%;

        .main_board_inner {
            // background-color: white;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;

            .main_board_inner_title_wrapper {
                // background-color: saddlebrown;
                padding: 20px 0px;
                box-sizing: border-box;
                // 标题栏
                .main_board_inner_title_wrapper_title {
                    text-align: left;
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: #3a3a3a;
                    margin-bottom: 10px;
                }

                .main_board_inner_title_wrapper_infos {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 0.8rem;
                    color: #8f8f8f;

                    div {
                        margin-right: 15px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        span {
                            margin-left:6px
                        }
                    }

                    .main_board_inner_title_wrapper_infos_tags {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        overflow: auto;
                    }
                }
            }

            .main_board_inner_process {
                // 实际处理区域
                background-color: white;
                // height: 100%;
                flex: 1;
                width: 100%;
                border-radius: 6px;
                box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
                position: relative;
                padding: 4px;
                
                .main_board_inner_process_content {
                    position: relative;
                    height: 100%;
                    // width: 100%;
                    overflow:hidden;
                    text-align: left;

                    img {
                        // transform: translate(50%, 50%);
                        position: absolute;
                        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
                        opacity: 0;
                        display: block;
                        transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        transform: matrix(1, 0, 0, 1, 0, 0);
                    }
                }

            }
        }
    }

    .label_wrapper {
        grid-column: 4/5;
        // background-color: green;
        padding: 0px 30px;
        padding-top: 20px;
        padding-left: 0px;
        box-sizing: border-box;
        color: #191919;
        height: 100%;
        position: relative;
        
        .label_inner {
            background-color: transparent;
            // padding: 20px 30px;
            // padding-bottom: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // overflow: hidden;
            justify-content: space-between;
            position: relative;
            // box-sizing: border-box;
            // border-radius: 12px;
            // box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);

            .label_cards_wrapper {
                width: 100%;
                padding: 4px 4px;
                margin-bottom: 15px;
                transition: all 0.5s ease-in-out;
                flex: 1;
                // min-height: min-content;
                // min-height: 0;
                // height: calc(100% - 3rem - 3rem - 1px - 15px);
                // height: 0px;
                overflow-y: auto;
                position: relative;
            }

            .label_confirm {
                width: 100%;
                height: auto;
                border-radius: 6px;
                background-color: white;
                // border: 1px solid #dedede;
                box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);

                .label_confirm_skip, .label_confirm_confirm {
                    font-size: 1rem;
                    line-height: 3;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(245, 245, 245);
                    }
                }

                .label_confirm_skip {
                    border-bottom: 1px solid #dedede;
                    color: rgb(247, 82, 82);
                }

                .label_confirm_confirm {
                    color: rgb(0, 153, 0);
                }
            }
        }
    }
}

.footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.imgShower {
    z-index: -1001;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    box-sizing: border-box;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    pointer-events: all;
    cursor: zoom-out;

    img {
        min-width: 100%;
        min-height: 100%;
        pointer-events:none;
        box-sizing: border-box;
    }

    .imgShowerController {
        position: fixed;
        right: 20px;
        top: 20px;
        color: black;
        border-radius: 50%;
        font-size: 1.6rem;
        box-sizing: border-box;
        width: 2rem;
        // height: 2rem;
        cursor: pointer;
        // transition: all 0.2s ease-in-out;
        &:hover {
            background-color: rgba(0,0,0,.2);
            
        }
    }
}


@media screen and (max-width: 1000px) {
    .main {
        grid-template-columns: 1fr 2fr 2fr;
        .main_board_wrapper {
            grid-column: 1/3;
        }

        .label_wrapper {
            grid-column: 3/4;
        }
    }
    
}